@using GridBlazorServerSide.Models
@using GridShared.Columns
@implements ICustomGridComponent<Order>
@inject NavigationManager NavigationManager
@inject IModalService ModalService

<button class='btn btn-sm btn-primary' @onclick="MyClickHandler">Edit</button>

@code {
    [Parameter]
    public Order Item { get; set; }

    [Parameter]
    public CGrid<Order> Grid { get; set; }

    [Parameter]
    public object Object { get; set; }

    private void MyClickHandler(MouseEventArgs e)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(DisplayMessage.Message), "Test message!");
        ModalService.Show<DisplayMessage>("Hello World!", parameters);
    //string gridState = Grid.GetState();
    //string returnUrl = (string)Object;
    //NavigationManager.NavigateTo($"/editorder/{Item.OrderID.ToString()}/{returnUrl}/{gridState}");
    }
}